# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node.js
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*

# Docker
.docker_data/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.zip
temp_for_zip/
temp_zip_bac/
temp_zip_bac_clean/
